*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
    color: #fff;
}

.logo img {
    width: 100px;
    height: auto;
}

.pages ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.pages ul li {
    margin-left: 20px;
}

.pages ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease;
}

.pages ul li a:hover {
    color: #ff6347;
}
.logo img{
    width: 50px;
    height: 50px;
    margin-left: 20px;
}