 
 /*body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f8f8f8;
        }
        .container {
            width: 80%;
            margin: auto;
            padding: 20px;
        }
        .menu-item {
            background-color: #fff;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: center;
        }
        .menu-item img {
            width: 150px;
            height: 150px;
            border-radius: 5px;
            margin-right: 20px;
        }
        .menu-item h2 {
            margin: 0;
            font-size: 24px;
        }
        .menu-item p {
            margin: 5px 0;
            color: #555;
        }*/
        *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
        header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.logo img {
    width: 100px;
    height: auto;
}

.pages ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.pages ul li {
    margin-left: 20px;
}

.pages ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease;
}

.pages ul li a:hover {
    color: #ff6347;
}
         body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f8f8f8;
        }
        .container {
            width: 80%;
            margin: auto;
            padding: 20px;
        }
        .menu-item, .new-year-item {
            background-color: #fff;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: center;
        }
        .menu-item img, .new-year-item img {
            width: 150px;
            height: 150px;
            border-radius: 5px;
            margin-right: 20px;
        }
        .menu-item h2, .new-year-item h2 {
            margin: 0;
            font-size: 24px;
        }
        .menu-item p, .new-year-item p {
            margin: 5px 0;
            color: #555;
        }
        .new-year-item video {
            width: 100%;
            border-radius: 5px;
            margin-top: 20px;
        }